@search-color: orange;
@mobile-font-size: 2rem;

.weather {
  display: flex;
  flex-direction: column;
  
  &__header {
    text-align: center;
    padding: 20px;
    font-size: x-large;
  }
  
  &__search {
    padding: 20px;
    background-color: @search-color;
    text-align: center;
    
    &__input {
      border-radius: 15px;
      padding: 5px 10px;
    }
  }
}

@media only screen and (hover: none) and (orientation: portrait), (pointer: coarse) or (pointer: none) {
    .weather {
        font-size: @mobile-font-size;

        &__header {
          font-size: @mobile-font-size;
        }

        &__search {
          &__input {
            font-size: @mobile-font-size;
          }
        }
    }
}
