  .favorite__item {
    background: lightgray;
    width: fit-content;
    height: 3rem;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0 0.5rem 0 1rem;
    cursor: pointer;
    
    &__remove {
        margin-left: auto;
        height: 2rem;
        padding-left: 2rem;
    }
}
