@icon-height: 3rem;
@weather-description-distance: 1rem;

/* styles.less */
.forecast {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    &__name {
      flex: 1;
    }

    &__date {
      flex: 1;
      font-size: x-large;
    }

    &__picture {
      width: 300px;
      cursor: pointer;
    }

    &__temperature {
      flex: 1;
      font-size: xx-large;
      margin-bottom: 2rem;
    }

    &__description {
      flex: 1;
      font-size: x-large;
    }
  }
  &__footer{
    display: flex;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: x-large;

    &__humidity {
      flex: 1;

      &__picture {
        height: @icon-height;
        margin-bottom: @weather-description-distance;
      }
    }

    &__wind-speed {
      flex: 1;
      border-right: 1px dashed gray;
      border-left: 1px dashed gray;

      &__picture {
        height: @icon-height;
        margin-bottom: @weather-description-distance;
      }
    }

    &__pressure {
      flex: 1;

      &__picture {
        height: @icon-height;
        margin-bottom: @weather-description-distance;
      }
    }
  }
}
