@icon-height: 3rem;
@icon-mobile-height: 6rem;
@weather-description-distance: 1rem;

/* for the carousel item to take the whole width instead of 90% */
div[class^="Carousel__Rail"] {
  grid-template-columns: repeat(5, 100%);
}

/* styles.less */
.forecast {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-size: 4rem;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    &__name {
      flex: 1;
    }

    &__date {
      flex: 1;
      font-size: x-large;
    }

    &__picture {
      width: 300px;
      cursor: pointer;
    }

    &__temperature {
      flex: 1;
      font-size: xx-large;
      margin-bottom: 2rem;
    }

    &__description {
      flex: 1;
      font-size: x-large;
    }
  }
  &__footer{
    display: flex;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: x-large;

    &__humidity {
      flex: 1;

      &__picture {
        height: @icon-height;
        margin-bottom: @weather-description-distance;
      }
    }

    &__wind-speed {
      flex: 1;
      border-right: 1px dashed gray;
      border-left: 1px dashed gray;

      &__picture {
        height: @icon-height;
        margin-bottom: @weather-description-distance;
      }
    }

    &__pressure {
      flex: 1;

      &__picture {
        height: @icon-height;
        margin-bottom: @weather-description-distance;
      }
    }
  }
}

@media only screen and (hover: none) and (orientation: portrait), (pointer: coarse) or (pointer: none) {
  .forecast {
    font-size: 4rem;

    &__content {
      font-size: 4rem;

      &__name {
        font-size: 3rem;
      }
      &__date {
        font-size: 4rem;
      }
      &__temperature {
        font-size: 4rem;
      }
      &__description {
        font-size: 4rem;
      }
    }
    &__footer{
      font-size: 3rem;
      &__humidity {
        &__picture {
          height: @icon-mobile-height;
        }
      }
      
      &__wind-speed {
        &__picture {
          height: @icon-mobile-height;
        }
      }
      
      &__pressure {
        &__picture {
          height: @icon-mobile-height;
        }
      }
    }
  }
}
